<div class="post-link">
	<div class="upper">
		<span class="post-tags">
			{% for category in include.post.categories %}
				<a href="/category/{{ category }}">{{ category | upcase }}</a>
			{% endfor %}
		</span>
	</div>
	<div class="lower">
		<a class="post-link-image" href="{{ include.post.url | absolute_url }}" style="background-image: url(/img/posts/{{ include.post.image }})"></a>
		<div class="post-link-blurb">
			<a href="{{ include.post.url | absolute_url }}">
				{{ include.post.title }}
			</a>
			<p>{{ include.post.description }}</p>
		</div>
	</div>
</div>