<div class="subscription-box">
	<div class="upper">
		<p>GET AN EMAIL WHEN I WRITE A NEW POST</p>
	</div>
	<div class="middle">
		<form action="https://gmail.us12.list-manage.com/subscribe/post?u=2ca3d2258c4b75ee21a16b467&amp;id=7e310cbde1" method="POST" target="_blank">
			<input type="text" name="FNAME" id="mce-FNAME" placeholder="FIRST NAME"/>
			<input type="text" name="EMAIL" id="mce-EMAIL" placeholder="EMAIL"/>
			<input type="hidden" name="ml-submit" value="1"/>
			<button>SUBSCRIBE</button>
		</form>
	</div>
	<div class="lower">
		<p class="rss-subscribe">or subscribe <a href="/feed.xml">via RSS</a></p>
	</div>
</div>
