<!DOCTYPE html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} | {{ site.title }}</title>
		<link rel="stylesheet" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
		<meta name="description" content="{{ page.description }}">
	</head>
	<body>
		<div id="root">
			<header>
				<div class="portrait"></div>
				<p>I'm <a href="/about/">Elias</a>, a developer based out of Boston, working as a software engineer at Symantec. You can find my projects on <a href="https://github.com/fongelias" target="_blank">github</a>, follow me on <a href="https://www.instagram.com/fongelias/" target="_blank">instagram</a>, or read <a href="/">my posts</a></p>
			</header>
			{{ content }}
			<footer>
				{% include subscribe.html %}
			</footer>
		</div>
	</body>
</html>