---
---
/*-- Variables --*/
	/*-- Colors --*/
	$charcoal: #292b2b;
	$grey: #eee;
	$pikachu: #ffd700;
	$lightpika: #fef65b;
	$blue-grey: #e7f5f7;
	$air: #c0d6e4;
	$water: #006ca9;
	$deepBlue: #041541;
	$transparent: rgba(0,0,0,0);
	/*-- Font Family --*/
	$font-family: Open Sans, sans-serif;
/*-- Mixins --*/
@import '__flexbox';
@import '__animate';
/*-- Primary Containers --*/
* {
	box-sizing: border-box;
	font-family: $font-family;
}

html, body {
	padding:0;
	margin: 0;
	height: 100%;
	width: 100%;
}

html {
	overflow: hidden;
}

body {
	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
	@include align-content(stretch);
	background: white;
}

#root {
	overflow: auto;
	//padding-bottom: 10px;
}

/*-- Default --*/
header {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(center);
	//box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
	min-height: 280px;
	background-color: $charcoal;
	background-image: url("/img/{{ site.panoramaurl }}");
	background-repeat: no-repeat;
	background-size: cover;

	a {
		color: $pikachu;
		font-weight: 700;
		text-decoration: none;
	}

	a:hover {
		color: $lightpika;
	}

	.portrait {
		background-image: url("/img/{{ site.portraiturl }}");
		height: 140px;
		width: 140px;
		margin: 20px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 50%;
	}

	p {
		font-size: 18px;
		line-height: 1.5;
		color: white;
		padding-left: 2em;
	    padding-right: 2em;
	    max-width: calc(100% - 180px);
	}
}

@media (max-width: 800px) {
	header {
		@include flex-direction(column);

		p {
			max-width: none;
		}
	}
}

@media(min-width: 845px) {
	header {
		padding-left: calc((100% - 845px) / 2);
		padding-right: calc((100% - 845px) / 2);
	}
}

/*-- Category --*/
.category {
	h1 {
		padding: 20px 20px 0px 20px;
	}
}

@media(min-width: 945px) {
	.category{
		padding-left: calc((100% - 1045px) / 2);
		padding-right: calc((100% - 1045px) / 2);
	}
}

/*-- About --*/
.about-elias {
	padding: 2em;

	hr {
		margin: 50px calc((100% - 100px) / 2);
		width: 100px;
		opacity: 0;
	}
}

@media(min-width: 845px) {
	.about-elias{
		padding-left: calc((100% - 845px) / 2);
		padding-right: calc((100% - 845px) / 2);
	}
}


/*-- Subscribe --*/
.subscription-box {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	padding: 40px 0px 80px 0px;

	.upper {
		p {
			font-size: 16px;
			font-weight: 700;
			color: $deepBlue;
		}
	}

	.middle {
		input {
			height: 40px;
			font-size: 18px;
			font-weight: 600;
			border: 0px;
			background: $grey;
			padding: 0px 10px;
			border-radius: 2px;
			outline: none;
		}

		input:focus {
			background: $blue-grey;
		}

		button {
			height: 40px;
			padding: 0px 30px;
			border: 2px solid $grey;
			border-radius: 2px;
			font-size: 18px;
			font-weight: 600;
			outline: none;
			@include transition(all 0.3s ease);
		}

		button:hover {
			background-color: $charcoal;
			border: 2px solid $charcoal;
			color: white;
		}

		button:active {
			background-color: $deepBlue;
			border: 2px solid $deepBlue;
			color: white;
		}
	}
}

@media(max-width: 660px) {
	.subscription-box {
		.middle {
			form {
				@include flexbox;
				@include flex-direction(column);
				@include justify-content(center);
				@include align-items(center);

				input {
					margin: 5px;
				}

				button {
					margin: 5px;
				}
			}
		}
	}
}

/*-- Post List --*/
.post-list {
	.post-link {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(left);
		@include align-items(center);
		width: 100%;
		padding: 20px;

		.upper {
			width: 100%;

			a {
				font-weight: 700;
				outline: none;
				text-decoration: none;
				color: $air;
				@include transition(all 0.3s ease);
			}

			a:hover {
				color: $water;
			}
		}

		.lower {
			@include flexbox;
			@include flex-direction(row);
			@include justify-content(left);
			width: 100%;

			.post-link-image {
				height: 250px;
				width: calc(100% / 3);
				background-color: $air;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			.post-link-blurb {
				padding: 0px 20px;
				width: calc(100% * 2 / 3);

				a {
					text-decoration: none;
					font-weight: 600;
					font-size: 30px;
					color: $deepBlue;
					border-bottom: 1px solid $air;
					transition: background-position 0.15s linear 0.1s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
					background-image: linear-gradient(to bottom, $grey 0%, $grey 100%);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 0 1.35em;
					//@include transition(all 0.3s ease);
				}

				a:hover {
					color: $water;
					//background-color: $air;
					background-image: linear-gradient(to bottom, $grey 0%, $grey 100%);
				    background-position: 0 0;
				    transition: background-position 0.1s linear 0s;
				}
			}
		}
	}
}

@media(max-width: 750px) {
	.post-list {
		.post-link {
			.lower {
				@include flex-direction(column);

				.post-link-image {
					width: 100%;
				}

				.post-link-blurb {
					width: 100%;
					padding: 10px 0px 0px 0px;
				}
			}
		}
	}
}

/*-- home --*/
@media(min-width: 1045px) {
	.home{
		padding-left: calc((100% - 1045px) / 2);
		padding-right: calc((100% - 1045px) / 2);
	}
}

/*-- Post --*/
.post {
	.post-title-image {
		height: 66vh;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
	}

	.post-meta {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);

		a {
			font-weight: 700;
			outline: none;
			text-decoration: none;
			color: $air;
			@include transition(all 0.3s ease);
		}

		a:hover {
			color: $water;
		}
	}

	h1 {
		text-align: center;
		font-size: 45px;
		padding-left: 2em;
	    padding-right: 2em;
	}

	p {
		font-size: 20px;
		padding-left: 2em;
	    padding-right: 2em;
	    line-height: 2;
	    margin: 60px 0px;
	}

	ol {
		padding: 0em 6em;
		font-size: 22px;
		font-weight: 600;
	}

	img {
		width: 100%;
	}
}

@media(min-width: 1030px) {
	.post {
		h1 {
			padding-left: calc((100% - 845px) / 2);
		    padding-right: calc((100% - 845px) / 2);
		}

		p {
			padding-left: calc((100% - 845px) / 2);
		    padding-right: calc((100% - 845px) / 2);
		}

		ol {
			padding-left: calc((100% - 745px) / 2);
		    padding-right: calc((100% - 745px) / 2);
		}

		img {
			padding-left: calc((100% - 845px) / 2);
		    padding-right: calc((100% - 845px) / 2);
		}
	}
}





